<h1>Homepage</h1>
<div>
    <a href="/games">
        <button>See games</button>
    </a>
    <a href="/genres">
        <button>See genres</button>
    </a>
    <a href="/editors">
        <button>See editors</button>
    </a>
</div>

<h2>Featured games</h2>
<ul>
    {{#each featuredGames}}
        <li>
            <a href="/games/{{id}}/details">{{name}}</a>
        </li>
    {{/each}}
</ul>
