<h1>Games by {{editor.name}}</h1>

<ul>
    {{#each editor.games}}
        <li>
            <a href="/games/{{id}}/details">{{name}}</a>
        </li>
    {{/each}}
</ul>

<a href="/editors">Back to editors List</a>
