<h1>Add a new editor</h1>

<form action="/editors" method="POST">
    <label for="name">Editor name</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Add editor</button>
</form>